
.light-colors {
  --primary-main: #00458B;
  --primary-main-btn: #00458B;
  --primary-light: #005dbb;
  --primary-dark: #013d79;

  --info-main: #766f00;
  --info-light: #fffab6;
  --info-dark: #766f00;

  --neutral-main:  #484848;
  --netural-light: #a3a3a3;
  --neutral-background-adjacent: #f5f5f5;
  --neutral-dark: #616161;

  --alert-main: #8b0000;
  --alert-light: #a12b2b;
  --alert-dark: #720000;

  --background-color: rgb(240, 240, 240);
  --text-color: black;
}

.dark-colors {
  --primary-main: #ff4f5e;
  --primary-main-btn: #ee4a57;
  --primary-light: #f86975; 
  --primary-dark: #d4424e;
  
  --info-main: #cbc34d;
  --info-light: #504a00;
  --info-dark: #cbc34d;

  --neutral-main: #e7e5e2;
  --neutral-dark: #8f8f8f;
  --neutral-background-adjacent: #313131;

  --alert-main: #005e5e;
  --alert-light: #016e6e;
  --alert-dark: #004d4d;

  --background-color: #222222;
  --text-color: #e7e5e2;
}

body {
  margin: 15px;
  font-size: 14pt;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  cursor: pointer;
  color: var(--primary-light);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.container {
  width: 80%;
  margin: auto;

  position: relative;
  display: grid;
  grid-template-columns: auto 75%;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
}

/* navbar begin */
.col-navbar {
  margin-left: 10px;
}

.navbar {
  position: sticky;
  top: 30px;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 25px;
}

.nav a {
  height: 2.5em;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: right;
  color: var(--neutral-main);
}

.nav svg {
  height: 101%; /* force overlap */
}

.nav line,
.nav .progress-out {
  fill: var(--background-color);
  stroke: var(--neutral-main);
}

.nav .active .progress-out {
  fill: var(--neutral-main);
}

.nav .valid .progress-out,
.nav .active a[href="#contribute"] .progress-out
{
  stroke: var(--primary-main);
  fill: var(--primary-main);
}

.progress-in {
  stroke: var(--background-color);
}

.nav .active a
{
  text-decoration: underline;
}

.nav .valid a {
  color: var(--primary-main);
  font-weight: bold;
}

.nav .valid line {
  stroke: var(--primary-main);
}

.nav .active a[href="#contribute"] {
  font-weight: bold;
  color: var(--primary-main);
}
/* navbar end */

.btn {
  font-weight: bold;
  margin-top: 1.2em;
  padding: .7em 1.3em;
  color: white;
  background-color: var(--neutral-dark);
  border-radius: 3px;
  border-style: none;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
              0 2px 2px 0 rgba(0,0,0,.14),
              0 1px 5px 0 rgba(0,0,0,.12);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  background-color: var(--netural-light);
  text-decoration: none;
}

.btn:active {
  background-color: var(--neutral-dark);
}

.btn svg {
  margin-right: 10px;
  height: 1.5em;
  width: 1.5em;
}

.btn-primary {
  background-color: var(--primary-main-btn);
}

.btn-primary:hover, .btn-primary:focus {
  background-color: var(--primary-light);
}

.btn-primary:active {
  background-color: var(--primary-dark);
}

.btn-warning {
  background-color: var(--alert-main);
}

.btn-warning:hover, .btn-warning:focus {
  background-color: var(--alert-light);
}

.btn-warning:active {
  background-color: var(--alert-dark);
}


.col-formcontent {
  margin-left: 10px;
}

.tab-pane {
  display: none;
}

.active.tab-pane {
  display: unset;
}

form span,
form input:not([type="checkbox"]),
form select {
  display: block;
  width: 100%;
}

form label {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
}

.bool {
  cursor: pointer;
  position: relative;
  margin-left: 1.4em;
}

.chk {
  position: absolute;
  display: inline-block;
  border: 2px solid var(--primary-main);
  height: .9em;
  width: .9em;
  border-radius: 3px;
  margin-left: -1.4em;
  margin-top: 5px;
}

.chk .checkmark {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

.chk .checkmark svg {
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.chk input {
  display: none;
}

.chk input:checked ~ .checkmark {
  background-color: var(--primary-main);
}

.helptext {
  font-size: 90%;
  color: var(--neutral-dark);
}

form > div {
  margin: 0 0 .6em 0;
}

.info {
  padding: 15px;
  color: var(--info-dark);
  background-color: var(--info-light);
  border: 1px solid var(--info-main);
  border-radius: 5px;
}

.info.inline {
  display: inline;
  padding: 0 .5em 2px .5em;
  border-radius: 3px;
}

.info.block {
  border: none;
  background: none;
  padding: 0;
  margin-top: .5em;

  color: var(--info-main);

  display: inline-block;
  font-size: 90%;
  border-radius: 3px;
}

.info.block h5 {
  font-size: inherit;
  margin: 0;
}

.info.block .desc {
  margin-bottom: .5em;
}

.info.block ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.info.block ul > li {
  margin-left: .8em;
}

.info.block ul > li::before {
  content: "- ";
  font-weight: bold;
}

.tight {
  margin-bottom: 5px;
  margin-top: 0;
}

code {
  padding: 4px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  border-radius: 4px;
  color: var(--primary-dark);
  background: var(--neutral-background-adjacent);
}

pre {
  display: block;
  padding: 9.5px;
  margin: 5px 0 10px;
  line-height: 1.4;
  color: var(--primary-dark);
  background: var(--neutral-background-adjacent);
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 4px;
  overflow: auto;
  max-height: 20em;
}

select {
  margin-top: 5px;
  /* background-color: var(--background-color);
  color: var(--text-color); */
}

/* input[type="text"] {
  background-color: var(--background-color);
  color: var(--text-color);
} */

dt {
  font-weight: bold;
  margin-top: .5em;
}

.svg-bgcolor svg {
  fill: var(--background-color);
}

#darkmode-toggle {
  position: fixed;
  bottom: 10px;
  cursor: pointer;
  z-index: 9999;
}

#darkmode-toggle svg {
  fill: var(--text-color);
}

/* transitions */
body * {
  transition: inherit;
}